BUDGET_URL=https://services.tresor.mr/budget
FOOTBALL_URL=https://www.tntsports.co.uk/football/mauritanian-league/calendar-results.shtml
INPC_PAGE_URL=https://ansade.mr/fr/note-mensuelle-de-lindice-national-des-prix-a-la-consommation-inpc-decembre-2025/
HTTP_TIMEOUT_SECONDS=20
OUTPUT_DIR=/out